<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md p-8 space-y-6 bg-zinc-800 rounded-xl shadow-lg">
        <h2 class="text-3xl font-bold text-center text-white mb-6">Login your Account</h2>
        <form action="/login" method="post" class="space-y-4">
            <div id="email">
                <input type="email" name="email" placeholder="Email" class="w-full px-4 py-3 rounded-lg bg-zinc-700 text-white placeholder-zinc-400 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" class="w-full px-4 py-3 rounded-lg bg-zinc-700 text-white placeholder-zinc-400 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div>
                <input type="submit" value="Login" class="w-full py-3 text-white bg-blue-500 rounded-lg cursor-pointer hover:bg-blue-600 transition duration-300">
            </div>
            <div class="text-center">
                Not created in? <a href="/" class="text-zinc-400 hover:text-blue-300 transition duration-300">Create Account</a>
            </div>
        </form>
    </div>
</body>
</html>